In [188]:
import pandas as pd

In [189]:
df1 = pd.read_csv('bitcoinn_prices_2013-Nov17.csv')

In [190]:
df1.shape

(1678, 7)

In [191]:
df2 = pd.read_csv('Validation_2017_18.csv')

In [192]:
df2.shape

(90, 6)

In [193]:
frames=[df1,df2]

In [194]:
df=pd.concat(frames,sort=False)

In [195]:
df. head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,11/30/2017,9906.79,10801.00,9202.05,10233.60,8310689792,1.660000e+11
1,11/29/2017,10077.40,11517.40,9601.03,9888.61,11568799744,1.680000e+11
2,11/28/2017,9823.43,10125.70,9736.30,10058.80,6348819968,1.640000e+11
3,11/27/2017,9352.72,9818.35,9352.72,9818.35,5653320192,1.560000e+11
4,11/26/2017,8789.04,9522.93,8775.59,9330.55,5475579904,1.470000e+11

In [196]:
df.shape

(1768, 7)

In [197]:
df.isnull().sum()

Date           0
Open           0
High           0
Low            0
Close         90
Volume         0
Market Cap     0
dtype: int64

# Apply logic to fill Volume I am hard coding

In [198]:

market = []
for item in df['Market Cap']:
    market.append(int(item))
df['Market'] = market

In [199]:
df.shape

(1768, 8)

In [200]:
df[df.Volume=='-'].Volume.count()

243

In [201]:
df.Volume.replace('-',50808100,inplace=True)

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1768 entries, 0 to 89
Data columns (total 8 columns):
Date          1768 non-null object
Open          1768 non-null float64
High          1768 non-null float64
Low           1768 non-null float64
Close         1678 non-null float64
Volume        1768 non-null object
Market Cap    1768 non-null float64
Market        1768 non-null int64
dtypes: float64(5), int64(1), object(2)
memory usage: 124.3+ KB

In [203]:
df['vol']=pd.to_numeric(df['Volume'],errors='coerce')

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1768 entries, 0 to 89
Data columns (total 9 columns):
Date          1768 non-null object
Open          1768 non-null float64
High          1768 non-null float64
Low           1768 non-null float64
Close         1678 non-null float64
Volume        1768 non-null object
Market Cap    1768 non-null float64
Market        1768 non-null int64
vol           1768 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 138.1+ KB

In [205]:
df.drop('Volume',axis=1,inplace=True)

In [206]:
df['Date'] = pd.to_datetime(df['Date'])

In [207]:
df['day_of_week'] = df['Date'].dt.day_name()

In [208]:
df['month']=df['Date'].dt.month_name()

In [209]:
df['week']=df['Date'].dt.week

In [210]:
df.head()

,Date,Open,High,Low,Close,Market Cap,Market,vol,day_of_week,month,week
0,2017-11-30,9906.79,10801.00,9202.05,10233.60,1.660000e+11,166000000000,8310689792,Thursday,November,48
1,2017-11-29,10077.40,11517.40,9601.03,9888.61,1.680000e+11,168000000000,11568799744,Wednesday,November,48
2,2017-11-28,9823.43,10125.70,9736.30,10058.80,1.640000e+11,164000000000,6348819968,Tuesday,November,48
3,2017-11-27,9352.72,9818.35,9352.72,9818.35,1.560000e+11,156000000000,5653320192,Monday,November,48
4,2017-11-26,8789.04,9522.93,8775.59,9330.55,1.470000e+11,147000000000,5475579904,Sunday,November,47

In [211]:
df.drop('Date',axis=1,inplace=True)

In [212]:
df_dum=pd.get_dummies( df, columns = ['day_of_week','month','week'], drop_first=True )

In [213]:
df_dum.head()

,Open,High,Low,Close,Market Cap,Market,vol,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,...,week_44,week_45,week_46,week_47,week_48,week_49,week_50,week_51,week_52,week_53
0,9906.79,10801.00,9202.05,10233.60,1.660000e+11,166000000000,8310689792,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,10077.40,11517.40,9601.03,9888.61,1.680000e+11,168000000000,11568799744,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,9823.43,10125.70,9736.30,10058.80,1.640000e+11,164000000000,6348819968,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,9352.72,9818.35,9352.72,9818.35,1.560000e+11,156000000000,5653320192,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,8789.04,9522.93,8775.59,9330.55,1.470000e+11,147000000000,5475579904,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [214]:
train=df.iloc[:1678,:]
validation=df.iloc[1678:,:]

In [215]:
y=train['Close']

In [216]:
X=train.drop('Close',axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.75, test_size=0.25)
tpot = TPOTRegressor(generations=5, population_size=20, verbosity=2)
tpot.fit(X_train, y_train)
print('Score: ',tpot.score(X_test, y_test))
tpot.export('tpot_boston_pipeline.py')
pred = tpot.predict(X_test)


# Evaluate model
import pandas as pd
from sklearn.metrics import mean_squared_error
from math import sqrt

df = pd.DataFrame(columns=['Test','Pred'])
df['Test'] = pd.DataFrame(y_test,columns=['Test'])
df['Pred'] = pd.DataFrame(pred,columns=['Pred'])
rms = sqrt(mean_squared_error(df['Test'], df['Pred'] ))
print('\n\nRegression RMSE: ',rms)

In [ ]:
submission = tpot.predict(validation.drop('Close'))